#navbar
{
	margin-bottom: 10px;
}

.apropos
{
	text-align: center;
	padding-top: 10px;
}

/* Faire un CSS pour la navbar et ajouter un padding-bottom pour séparer la navbar du reste du site*/

#carte
{
	width : 30%;
	height : 650px;
}

#photohistoire
{
	height : 650px;
}
.row
{
	justify-content: center;
	margin: auto;
	text-align: justify;
}

.centre
{
	text-align : center;
	margin: auto;
}


.form
{
	text-align : center;
	width : 30%;
	margin: auto;
}

