#navbar
{
	margin-bottom: 15px;
}

#footer
{
	padding-top: 5%;
}

.apropos
{
	text-align: center;
	padding-top: 10px;
}

/* Faire un CSS pour la navbar et ajouter un padding-bottom pour séparer la navbar du reste du site*/

#carte
{
	width : 30%;
	height : 650px;
}

#photohistoire
{
	height : 650px;
}
.row
{
	justify-content: center;
	margin: auto;
	text-align: justify;
}

.centre
{
	text-align : center;
	margin: auto;
}


.form
{
	text-align : center;
	width : 30%;
	margin: auto;
}

.form_creation
{
	padding-top: 3%;
	width : 70%;
	margin: auto;
}


.droite
{
	float : right;
}


/* mise en page du contenu du chapitre */
.contenuChap
{
	text-align : center;
	width : 50%;
	margin: auto;
}


/*mise en page des choix du chapitre */
.choix{
	background-color:darkolivegreen;
	color:white;
}